.header {
    margin: 10px 15px;
    padding: 5px;
    background: cyan;
    border-radius: 15px;
}
.header h1 {
    color: blue;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px #555;
}
.content-wrapper {
    margin: 10px 15px;
    padding: 10px;
    background: #ecfa91;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    border-radius: 15px;
}
.sidebar {
    margin: 10px;
    padding: 10px;
    background: #90e07e;
    grid-column: 1 / span 3;
}
.sidebar ol {
    list-style-type: none;
    padding: 10px;
}
.sidebar ol li {
    margin: 10px 0;
    background: green;
    padding: 10px;
}
.main-content {
    margin: 10px;
    padding: 10px;
    background: #98e07e;
    grid-column: 4 / span 9;
}
.main-content img {
    display: block;
    margin: auto;
    width: 381px;
}
.main-content p {
    color: #0b872c;
}
.footer {
    margin: 10px 15px;
    padding: 5px;
    background: #e36059;
    border-radius: 15px;
}
.footer h1 {
    color: #b63f25;
    text-align: center;
    font-family: monospace;
}